*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin-bottom: 100px;
    text-align: center;

}
li
{
    list-style: none;
    display: inline-block;
    padding: 100px;
}

.fa
{
    font-size: 18rem;
}
