.container {
  background-color: rgb(21, 25, 37);
  margin: 0 auto;
  display: auto;
  height: 0vh;
}

a.page-link {
  text-decoration: none;
  font-size: 20px;
  font-family: "inter";
  color: whitesmoke;
}
a.page-link:hover {
  color: rgb(72, 202, 228);
}
a.page-link:active {
  color: grey;
}

a#about:visited {
  color: rgb(72, 202, 228);
}
a#about {
  border: 2px solid rgb(72, 202, 228);
  border-width: 2px;
  padding: 1px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

ul.list-inline {
  margin-top: -115px;
  right: 105px;
  position: absolute;
}

li.list-inline-item {
  padding: 16px;
}
img.im.position-absolute {
  height: auto;
  width: 150px;
  margin-top: -150px;
  margin-left: -90px;
}
.circle.position-absolute {
  width: 280px;
  height: 280px;
  background-color: rgb(21, 25, 37);
  border: 5px solid rgb(72, 202, 228);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgb(72, 202, 228), 0 0 10px rgb(72, 202, 228),
    0 0 10px rgb(72, 202, 228), 0 0 30px rgb(72, 202, 228),
    0 0 30px rgb(72, 202, 228);
  bottom: 170px;
  left: 190px;
  z-index: -1;
}
.img.position-absolute {
  display: block;
  width: 300px;
  height: auto;
  left: 185px;
  top: 100px;
  border-radius: 100%;
}
div.box1 {
  position: absolute;
  right: 500px;
  bottom: 60px;
}

div.box2 {
  position: absolute;
  right: 100px;
  bottom: 60px;
}
div.box1,
div.box2 {
  width: 380px;
  height: 300px;
  background-color: rgb(36, 39, 52);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}

div.box3 {
  width: 380px;
  height: 160px;
  background-color: rgb(36, 39, 52);
  padding: 20px;
  margin: 20px;
  border-radius: 50px;
  position: absolute;
  right: 99px;
  top: 120px;
  color: white;
  font-family: "inter tight";
  text-align: center;
}

#exp {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 140px;
  margin-left: 580px;
  font-size: 27px;
}
em.colored {
  color: rgb(72, 202, 228);
}

button[type="button"] {
  border-color: rgb(72, 202, 228);
  border-radius: 8px;
  background-color: rgb(21, 25, 37);
  border-width: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.label,
.hob {
  color: #a7fdcc;
  font-size: 30px;
  font-family: "inter tight";
  letter-spacing: 2px;
  font-weight: bolder;
  text-align: center;
}
ul#arcs {
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}
.me {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
  font-family: "inter tight";
}
#myhob {
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: "inter tight";
}
