.container-fluid {
  background-color: rgb(21, 25, 37);
  display: auto;
  margin: 0;
  height: 0vh;
}
a.page-link {
  text-decoration: none;
  font-family: "inter tight";
  font-size: 30px;
  color: whitesmoke;
}
a.page-link:hover {
  color: rgb(72, 202, 228);
}
a.page-link:active {
  color: grey;
}
ul.list-inline {
  margin-top: 30px;
  right: 80px;
  position: absolute;
}

li.list-inline-item {
  padding: 25px;
}

a#certs:visited {
  color: rgb(72, 202, 228);
}
a#certs {
  border: 2px solid rgb(72, 202, 228);
  padding: 2px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
}

img.im.position-absolute {
  height: auto;
  width: 300px;
  margin-top: -1%;
  padding-left: 1%;
}
.circle.position-absolute {
  width: 400px;
  height: 400px;
  background-color: rgb(21, 25, 37);
  border: 5px solid rgb(72, 202, 228);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgb(72, 202, 228), 0 0 10px rgb(72, 202, 228),
    0 0 10px rgb(72, 202, 228), 0 0 30px rgb(72, 202, 228),
    0 0 30px rgb(72, 202, 228);
  bottom: 18%;
  left: 15%;
  z-index: -1;
}
.img.position-absolute {
  width: 500px;
  height: auto;
  left: 13%;
  top: 14.2%;
  border-radius: 100%;
}

.image {
  width: 450px;
  height: auto;
  padding: 15px;
}
.container {
  margin-right: 0px;
  margin-left: 0;
  padding-top: 10%;
}
.image-container {
  padding-left: 60%;
}
.image.a3 {
  position: absolute;
  left: 77%;
}
.image.a4 {
  position: absolute;
  left: 77%;
  top: 23%;
}
.image.a5 {
  position: absolute;
  top: 38%;
  left: 57%;
}
.image.a1,
.image.a2 {
  position: relative;
  left: 10%;
}
/*This part is for image interface*/

.image:hover {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  overflow: auto;
}
.pops {
  width: 650px;
  height: auto;
  position: absolute;
  left: 500px;
  top: 100px;
}
.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.container .popup-image img#coffe,
.container .popup-image img#database,
.container .popup-image img#work,
.container .popup-image img#figs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 5px;
  width: 720;
  object-fit: cover;
}
@media (max-width: 760px) {
  .container .popup-image img#coffe,
  img#database,
  img#work,
  img#figs {
    width: 95%;
  }
}
