.container-fluid {
  background-color: rgb(21, 25, 37);
  display: auto;
  margin: 0;
}
a.page-link {
  text-decoration: none;
  font-family: "inter tight";
  font-size: 20px;
  color: whitesmoke;
}
a.page-link:hover {
  color: rgb(72, 202, 228);
}
a.page-link:active {
  color: grey;
}
ul.list-inline {
  margin-top: 30px;
  right: 80px;
  position: absolute;
}

li.list-inline-item {
  padding: 15px;
}

a#conts:visited {
  color: rgb(72, 202, 228);
}
a#conts {
  border: 2px solid rgb(72, 202, 228);
  padding: 2px;
  border-radius: 15px;
  width: 160px;
  text-align: center;
}

img.im.position-absolute {
  height: auto;
  width: 180px;
  margin-top: -10px;
  padding-left: 20px;
}
.circle.position-absolute {
  width: 280px;
  height: 280px;
  background-color: rgb(21, 25, 37);
  border: 5px solid rgb(72, 202, 228);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgb(72, 202, 228), 0 0 10px rgb(72, 202, 228),
    0 0 10px rgb(72, 202, 228), 0 0 30px rgb(72, 202, 228),
    0 0 30px rgb(72, 202, 228);
  bottom: 170px;
  left: 190px;
  z-index: -1;
}
.img.position-absolute {
  display: block;
  width: 300px;
  height: auto;
  left: 185px;
  top: 100px;
  border-radius: 100%;
}
#me {
  color: #a7fdcc;
  font-size: 30px;
  font-family: "inter tight";
  letter-spacing: 2px;
  font-weight: bolder;
  margin-right: 400px;
  margin-top: 150px;
  float: right;
}
form {
  margin-left: 825px;
}
#names,
#email,
#message {
  width: 350px;
  height: 40px;
  position: relative;
  top: 20px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #373646;
  border: 2px solid #373646;
}
#email {
  margin-left: -5px;
  margin-top: 10px;
}

#message {
  margin-left: 1px;
  top: 30px;
  border-radius: 5px;
  height: 150px;
  overflow: hidden;
}
textarea::placeholder,
input::placeholder,
input::placeholder {
  color: rgba(221, 217, 217, 0.578);
}
input[type="submit"] {
  margin-left: 955px;
  margin-top: 50px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid #48cae4;
  background-color: #373646;
}
input[value="Send"] {
  color: white;
}
input[type="text"],
input[type="email"],
textarea[type="text"] {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 10px;
}
#cat {
  margin-left: 965px;
  position: relative;
  top: 10px;
}
