body {
  background-color: #a8dbfa;
  margin: 0;
  height: 0vh;
  display: block;
}

.image-container,
.rounded {
  position: relative;
  top: -110px;
  z-index: -1;
}

.container.icon1 .list-group-item {
  display: inline-block;
  padding: 15px;
}

.container .container.icon1 .list-inline.text-end {
  margin-top: 65%;
  margin-right: -5%;
}
.container .container.icon1 a {
  color: rgb(249, 244, 244);
}
.container .container.icon1 a:hover {
  color: #151925;
}
.col-5 {
  font-size: 35px;
  font-family: "inter tight";
  font-weight: bolder;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  background-color: #615f7e26;
  border: 2px solid rgb(105, 102, 102);
}
.box_1 {
  font-size: 45px;
  height: 150px;
  position: absolute;
  top: 22%;
  right: 4%;
  padding: 35px;
  line-height: 50px;
}
em {
  color: #366994;
}
.box_2 {
  height: 270px;
  position: absolute;
  top: 38%;
  right: 4%;
  padding: 25px;
}
.box_3 {
  height: 250px;
  position: absolute;
  top: 65%;
  right: 4%;
  padding: 40px;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (max-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
}
