.container {
  background-color: rgb(21, 25, 37);
  display: auto;
  margin: 0 auto;
  height: 0vh;
}
a.page-link {
  text-decoration: none;
  font-family: "inter tight";
  font-size: 30px;
  color: whitesmoke;
}
a.page-link:hover {
  color: rgb(72, 202, 228);
}
ul.list-inline {
  margin-top: 30px;
  right: 80px;
  position: absolute;
}
a.page-link:active {
  color: grey;
}

li.list-inline-item {
  padding: 20px;
}

a#skils:visited {
  color: rgb(72, 202, 228);
}
a#skils {
  border: 2px solid rgb(72, 202, 228);
  padding: 2px;
  border-radius: 10px;
  margin: 8px;
  width: 150px;
  text-align: center;
}

img.im.position-absolute {
  height: auto;
  width: 250px;
  margin-top: -10px;
  margin-left: -500px;
}

.img.position-absolute {
  display: block;
  width: 520px;
  height: auto;
  left: 10%;
  top: 20%;
  border-radius: 100%;
}

div.box2 {
  width: 1200px;
  height: 750px;
  background-color: rgb(36, 39, 52);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  position: absolute;
  right: 65px;
  bottom: 60px;
  border: 2px solid #48cae4;
}

.image-container .img01 {
  display: flex;
  width: 280px;
  height: auto;
  cursor: pointer;
}
.box2 h1 {
  color: #a7fdcc;
  font-size: 50px;
  font-family: "inter tight";
  letter-spacing: 2px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}
.box2 .image-container,
.img02 {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 20px;
  margin-left: 50px;
}
.img02 {
  width: 350px;
  height: 230px;
  position: relative;
  left: -10%;
  margin-top: 4%;
}

.img01:hover,
.img02:hover {
  transform: scale(1.1);
}
.box2 .image-container .img01 img,
.box2 .image-container .img02 img {
  object-fit: cover;
  transition: 2s linear;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
}
