body.container {
  background-color: rgb(21, 25, 37);
  display: auto;
  margin: 0;
}
a.page-link {
  text-decoration: none;
  font-family: "inter tight";
  font-size: 32px;
  color: whitesmoke;
}
a.page-link:hover {
  color: #48cae4;
}

ul.list-inline {
  margin-top: 20px;
  right: 70px;
  position: absolute;
}
a.page-link:active {
  color: grey;
}
a#proj:visited {
  color: #48cae4;
}
a#proj {
  border: 2px solid #48cae4;
  border-width: ;
  padding: 2px;
  border-radius: 15px;
  width: 180px;
  text-align: center;
}

li.list-inline-item {
  padding: 20px;
}
img.im.position-absolute {
  height: auto;
  width: 250px;
  margin-top: -10px;
  padding-left: 20px;
}

.img.position-absolute {
  width: 510px;
  height: auto;
  left: 12%;
  top: 15%;
  border-radius: 100%;
}

div.image-container {
  width: 1200px;
  height: 700px;
  background-color: rgb(36, 39, 52);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  position: absolute;
  right: 65px;
  bottom: 10%;
  border: 2px solid #48cae4;
}
h1.project {
  color: #a7fdcc;
  font-size: 50px;
  font-family: "inter tight";
  letter-spacing: 2px;
  font-weight: bolder;
  text-align: center;
}
#coffe,
#database {
  width: 420px;
  height: auto;
}
#work,
#figs {
  size-adjust: ;
  width: 230px;
  height: 551px;
  border-radius: 20px;
}
#work {
  margin-left: 62%;
  margin-top: 2%;
  box-shadow: 5px 7px 5px 3px rgba(31, 31, 31, 0.948);
}
#figs {
  margin-left: 38%;
  margin-top: 2%;
  box-shadow: 5px 7px 5px 3px rgba(31, 31, 31, 0.948);
}
#coffe {
  box-shadow: 5px 7px 5px 3px rgba(31, 31, 31, 0.948);
  margin-left: 8%;
  border-radius: 20px;
  margin-top: 2%;
}
#database {
  margin-top: 24%;
  margin-left: -2%;
  box-shadow: 5px 7px 5px 3px rgba(31, 31, 31, 0.948);
  border-radius: 30px;
}
/*This part is for image interface*/
img#coffe:hover,
img#database:hover,
img#work:hover,
img#figs:hover {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  overflow: auto;
}
.pops {
  width: 900px;
  height: auto;
  position: absolute;
  left: 33%;
  top: 20%;
}
.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.container .popup-image img#coffe,
.container .popup-image img#database,
.container .popup-image img#work,
.container .popup-image img#figs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 5px;
  width: 720;
  object-fit: cover;
}
@media (max-width: 760px) {
  .container .popup-image img#coffe,
  img#database,
  img#work,
  img#figs {
    width: 95%;
  }
}
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
}
