body {
  background-color: rgb(21, 25, 37);
  margin: 0 auto;
  height: 0vh;
}

img.img-responsive {
  height: auto;
  width: 400px;
  border-radius: 100%;
}
.position-absolute {
  left: 43%;
  top: 15%;
  z-index: -1;
}

img.logo {
  height: auto;
  width: 250px;
  margin-top: -1%;
  margin-left: -25%;
}

.text-start.hello {
  position: absolute;
  left: 4%;
  font-size: 50px;
  top: 25%;
  color: rgb(241, 244, 246);
  font-family: "inter tight";
  font-weight: bolder;
}
h2.fname {
  font-size: 70px;
  font-family: "inter tight";
  color: rgb(241, 244, 246);
  margin-left: 24%;
  margin-top: 15%;
  letter-spacing: 5px;
}

h3.lname {
  letter-spacing: 5px;
  font-size: 70px;
  font-family: "inter tight";
  color: rgb(241, 244, 246);
  margin-right: 26%;
  margin-top: -6%;
}

.nickname {
  font-size: 35px;
  color: rgb(241, 244, 246);
  margin-top: 5%;
  margin-left: 36%;
  font-family: "inter tight";
}
h5.motto,
h6.mottos {
  color: rgb(72, 202, 228);
  position: absolute;
  font-size: 35px;
  font-weight: bolder;
  font-family: "inter tight";
}
h5.motto {
  bottom: 36%;
  right: 27%;
}
h6.mottos {
  position: absolute;
  bottom: 32%;
  right: 31%;
}
button[type="button"] {
  border: 2px solid rgb(72, 202, 228);
  border-radius: 5px;
  background-color: rgb(21, 25, 37);
  padding: 5px;
  position: absolute;
  bottom: 20%;
  left: 46.5%;
  width: 225px;
  height: auto;
}

a.infos {
  font-size: 20px;
  font-family: "inter tight";
  font-weight: 100%;
  padding: 10px;
  text-decoration: none;
  float: center;
  color: rgb(241, 244, 246);
}
a.infos:hover {
  color: rgb(72, 202, 228);
  transition: scale(1.1);
}
button[type="button"]:hover {
  animation: forwards 25;
}

button[type="button"] {
  color: aliceblue;
}
.container.icon1 .list-group-item {
  display: inline-block;
  padding: 15px;
}
.container.icon1 .list-inline {
  left: 40%;
  top: 85%;
}
.container .container.icon1 a {
  color: whitesmoke;
}
.container .container.icon1 a:hover {
  color: rgb(72, 202, 228);
}

.container{

  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (max-width: 1536px) {
  .container{max-width: 1200px;}


  }
}
@media (max-width: 1200px) {
  .container{
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
 .container{ max-width: 760px;
}
}
@media (max-width: 760px) {
  .container{max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container{
    max-width: 475px;
  }
}
@media (max-width: 1536px) {
  .container{max-width: 100%;}
}
